.mainInformation {
    max-width: 1000px;
    margin: auto;
    padding: 0 45px;
    margin-bottom: 85px;
}

.mainInformation--spaciousBox {
    margin: 110px auto;
    max-width: 1500px;
}

.mainInformation__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    background: #212227;
    border-radius: 30px;
    box-shadow: 0 0.25rem 3.75rem rgba(0, 0, 0, .4);
}

.mainInformation__container--noBorderRadius {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    border-radius: 0;
    box-sizing: border-box;
}

.mainInformation__TextInConteiner {
    flex-basis: 347px;
    margin-bottom: 20px;
}

.mainInformation__TextInConteiner--replaceObject {
    order: 1;
}

.mainInformation__conteinerName {
    text-align: center;
    margin: 20px;
    font-weight: normal;
}

.mainInformation__content {
    text-indent: 30px;
    text-align: justify;
}

.mainInformation__conteinerName--indentTop {
    margin: 50px;
}

.mainInformation__conteinerName--otherColor {
    color: #2766ae;
}

.mainInformation__image {
    width: 270px;
    border-radius: 30px;
    background: radial-gradient(circle, #d6da1e9e 0%, #424213 29%, rgb(33 34 39) 70%);
}

.mainInformation__image--largerSize {
    width: 470px;
}

.mainInformation__table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
    background-color: #16171b;
    border: 2px #16171b solid;
}

.mainInformation__tableCaption {
    margin: 20px;
    font-size: 26px;
}

.mainInformation__tableCell {
    border: 1px solid rgb(63 65 71);
    padding: 15px;
    text-align: center;
    vertical-align: middle;
}

.mainInformation__tableCell--tableHeader {
    background-color: #11193733;
    font-weight: normal;
    padding: 15px;
}

.mainInformation__video {
    width: 100%;
    max-width: 500px;
}

@media (max-width: 768px) {

    .mainInformation__video {
        max-width: 500px;
    }
}

.mainInformation__list {
    line-height: 2.5;
    text-indent: 10px;
}

.mainInformation__list--otherColor {
    color: rgb(229, 234, 165);
}