.navigation {
    max-width: 100%;
    padding: 5px;
    font-size: 22px;
    font-weight: 700;
    background: linear-gradient(180deg, #000, transparent);
    display: flex;
    justify-content: center;
    align-items: center;
}

.body--light .navigation {
    background: linear-gradient(180deg, #383838, transparent);
}

.navigation__list {
    max-height: 0;
    overflow: hidden;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
    transition: max-height 0.3s ease-in-out;
}

.navigation__list--visible {
    max-height: 500px;
}

@media (min-width: 747px) {
    .navigation__list {
        max-height: none;
        display: flex;
    }

    .navigation__list--visible {
        max-height: none;
    }
}

.navigation__item {
    margin: 10px;
}

.navigation__link {
    color: #ffffff;
    text-decoration: none;
}

.navigation__link:hover {
    color: #2766ae;
}

.body--linkLighter .navigation__link:hover {
    color: #5f9fed;
}

.navigation__button {
    border: none;
    background: none;
    padding: 0;
}

.toggle {
    width: 45px;
    height: 25px;
    background-color: #2766ae;
    border-radius: 25px;
    display: flex;
    border: 2px solid #ffffffb0;
    align-items: center;
    padding: 0 3px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s, border-color 0.3s;
}

.body--borderLight .toggle {
    border-color: rgb(161, 161, 161);
}

.toggle__circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #000000;
    transition: background-color 0.3s, transform 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(0);
}

.body--light .toggle__circle {
    background-color: #ffffff;
    transform: translateX(25px);
}

.toggle__icon {
    fill: #ffffff;
    width: 14px;
    height: 14px;
    transition: fill 0.3s;
}

.body--light .toggle__icon {
    fill: #000000;
}