.secondaryInformation {
    margin: 125px auto;
}

.secondaryInformation__musicSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background: #212227;
    box-shadow: 0 0.25rem 3.75rem -0.625rem rgba(0,0,0,.4);
    padding: 30px;
}


.secondaryInformation__video {
    flex-basis: 300px;
}

.secondaryInformation__text {
    flex-basis: 500px;
}

.secondaryInformation__picture {
    flex-basis: 300px;
}

.secondaryInformation__image {
    width: 270px;
    border-radius: 30px;
}

.video {
    width: 100%; /* Устанавливаем ширину видео на 100% для заполнения доступного пространства */
    max-width: 500px; /* Устанавливаем максимальную ширину видео */
  }

  @media (max-width: 768px) {
    /* Применяем стили для узких экранов (например, меньше 768 пикселей) */
    .video {
      max-width: 500px; /* Уменьшаем максимальную ширину видео для узких экранов */
    }
  }